<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-body-text">

<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>

<div class="palm-page-header multi-line">
	<div class="palm-page-header-wrapper">
		<div class="title left">Answer Questions</div>                         
	</div>
</div>
	
<div x-mojo-element="List" id="alarmList">
</div> 

<div class="scene-footer">
	<div class="scene-footer-wrapper">
		<div id="addAlarm" x-mojo-element="Button"></div>			
	</div>
</div>
<div class="scene-footer-spacer two-buttons"></div>

</div>
