<div class="palm-scene">

<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>

<div class="palm-page-header multi-line">
	<div class="palm-page-header-wrapper">
		<div class="title left">BipBipBip Alarms</div>                         
		<div class="subtitle">
			<strong>Next:</strong> Test Alarm 2 today at 9:30 pm
		</div>
	</div>
</div>
	
<div x-mojo-element="List" id="alarmList">
</div> 

<div class="scene-footer">
	<div class="scene-footer-wrapper">
		<div id="addAlarm" x-mojo-element="Button"></div>			
	</div>
</div>
<div class="scene-footer-spacer two-buttons"></div>
	
</div>